
///////////////////dashboard scss
#Container{

    background: #FFF7ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
    
        li {
          cursor: pointer;
          padding: 10px 20px;
          transition: all 0.3s ease;
    

    
          &:hover {
            background-color: #FFF7ED;
            font-weight: 900;
            text-decoration: underline;
          }
        }
      }
    
      .content {
        padding: 20px;
      }
 
 }
 .incomeAndDetails{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 20px;
     margin-right: 20px;
 }
 .reviewScore{
     background-color: #FFDDB2;
     display: flex;
     justify-content: space-between;
     padding: 20px;
     h2{
     font-size: 25px;
    }

 }
 .welcome{
     margin-top: 50px;
     background-color: #FFEAD0;
     h2{
         font-size: 35px;
         margin-left: 20px;
     }
     h1{
         margin-top: 10px;
         margin-bottom: 10px;
         margin-left: 20px;
 
     }
 }
.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .Tabs{
     display: flex;

     gap: 0px;
     list-style: none;
     margin-top: 40px;
     margin-bottom: 30px;
 }
 .cardContainer{
     text-align: center;
     margin-left: 35px;



 
     padding: 20px;
     background-color: #fff;
     width: 95%;
     display: flex;
     align-items: center;
     gap: 40px;
     margin-bottom: 10px;
     img{
         width: 10%;
         border-radius: 5px;
     }
  
 }
 .viewall{
     padding: 30px;
     display: flex;
     justify-content: space-between;
     h2{
         font-size: 28px;
     }
 }
 .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
 }