@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "inter";
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #FFF7ED;
height: 107.62px;
h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
font-weight: bold;
}
ul{
  display: flex;
  margin-right: 50px;
  gap: 40px;
  li{
    list-style: none;
    a{text-decoration: none;
      font-size: 30px;
      font-weight: 700;
      color: #161616;
    }
  }
}
}
.HeroText{
  .overlay{
    background-color: rgba(0, 0, 0, 0.548);
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  background: url(../src/assets/image54.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 83vh;
 
  h1{
    font-size: 76px;
   
    font-weight: bolder;
    color: #ffff;
    padding-bottom: 30px;
    line-height: 80px;
  }
  p{
    font-size: 30px;
    font-weight: 400;
    color: #ffff;
    padding-bottom: 50px;
    margin-right: 120px;
  }
  button{
    background-color: #FF8C38;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
    width: 70%;
    padding: 20px 0;
    text-align: center;
  }
}
footer{
  background-color: #252525;
  color: #ffff;
  text-align: center;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  Nav{
    .abt{
      text-decoration: underline;
    }
  }
  .abtWrapper{
background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    width: 100%;
    /* height: 500px; */
    margin-bottom: 100px;
  }
  h1{

    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding-bottom: 50px;
  }
  p{
    font-size: 32px;
    width: 90%;

 
  
  
   
  }
  .p{
    margin-top: 40px;
    margin-bottom: 80px;
   
  }
  .box{
    width: 78%;
  padding: 70px;
  margin-bottom: 100px;
    background-color: #FFCC8D;
    h1{
      text-align: left;
      line-height: 62px;
    }
    button{
      background-color: black;
      color: #FFF7ED;
      font-size: 30px;
      padding: 20px;
      
      border-radius: 10px;
    }
  }
}
}
.simple{
  background-color:  #ffe7cc;
  padding: 10px;
color: #4D4D4D;
font-size: 25px;
width: 150px;
border-radius: 8px;
}
.simple:hover{
  background-color: #E17654;
  color: #fff;
}
.Luxury{
  background-color:  hsl(32, 100%, 90%);
  padding: 10px;
color: #4D4D4D;
font-size: 25px;
width: 150px;
border-radius: 8px;
}
.Luxury:hover{
background-color: black;
color: #fff;
}
.Rugged{
    background-color:  hsl(32, 100%, 90%);
    padding: 10px;
  color: #4D4D4D;
  font-size: 25px;
  width: 150px;
  border-radius: 8px;
}
.Rugged:hover{
  background-color: #115E59;
  color: #fff;
}
.card{
  margin-bottom: 50px;
  width: 40%;
  .cardPic{
    .pic{
      width: 100%;
      height: 600px;
    }
   
  }
  .cardText{
width: 100%;
    h1{
      font-size: 45px;
      font-weight: 600;
    }
    .first{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    .day{
 
      line-height: 25px;
      display: flex;
      flex-direction: column;
      h2{
        font-weight: 600;
        font-size: 20px;

      }
      p{
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}
#Explore{
  .exploreWrapper{
    Nav{
      nav{
        .van{
          text-decoration: underline;
        }
      }
   
    }
    display: flex;
    flex-direction: column;
.firstSection{
  display: flex;
  flex-direction: column;
  align-items: center;


  h1{
    font-size: 60px;
    font-weight: 700;
    margin-right: 200px;
    text-align: left;

  }
  a{
    margin-left: 200px;
    text-decoration: underline;
    font-size: 30px;
  }
  .btns{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 300px;
    margin-bottom: 50px;
  }
}

    .secondSection{
      display: flex;
      justify-content: center;
      gap: 100px;

    }
    .thirdSection{
      display: flex;
      justify-content: center;
      gap: 100px;

    }
    .fourthSection{
      display: flex;
      justify-content: center;
      gap: 100px;

    }
  }
}