// Vans page
#rugged {
    background: #FFF7ED;
    padding: 70px 80px;

    @media (max-width: 768px) {
        padding: 50px 40px;
    }

    @media (max-width: 480px) {
        padding: 30px 20px;
    }

    .simmple {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            gap: 10px;
        }

        .simple {
            .active-simple{
                background-color: #FF8C38;
                color: #fff;
            }
            button {
                padding: 10px 40px;
                font-size: 18px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: #FF8C38;
                    color: #fff;
                }

                @media (max-width: 768px) {
                    padding: 8px 30px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }

        .luxury {
            .active-luxury{
                background-color: #161616;
                color: #fff;
            }
            button {
                padding: 10px 40px;
                font-size: 18px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: #161616;
                    color: #fff;
                }
           

                @media (max-width: 768px) {
                    padding: 8px 30px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }

        .rugged {
            .active-rugged{
                background-color: #115E59;
                color: #fff;
            }
            button {
                padding: 10px 40px;
                font-size: 18px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: #115E59;
                    color: #fff;
                }

                @media (max-width: 768px) {
                    padding: 8px 30px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }

        .clear {
            button {
                padding: 10px 40px;
                color: #757371;
                background: none;
                font-size: 18px;
                border: none;
                text-decoration: underline;
                transition: color 0.3s;

                &:hover {
                    color: #FF8C38;
                }

                @media (max-width: 768px) {
                    padding: 8px 30px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }
    }
.content-simple{
    .content{
        display: none;
    .cardComponents{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        img{
            width: 100%;
            border-radius: 10px;
        }
        a {
            color: #000;
            text-decoration: none;

        }
        .textie{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                margin: 10px 0px;
                padding: 10px 40px;
                background: #FF8C38;
                font-weight: 800;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                color: #fff;
            }
            .day{
                position: relative;
                top: -25px;
                h3{
                    font-size: 25px;
                }
            }
        }
        .texties{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                margin: 10px 0px;
                padding: 10px 40px;
                background: #115E59;
                font-weight: 800;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                color: #fff;
            }
            .day{
                position: relative;
                top: -25px;
            }   
        }
        .textiess{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                margin: 10px 0px;
                padding: 10px 40px;
                background: #161616;
                font-weight: 800;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                color: #fff;
            }
            .day{
                position: relative;
                top: -25px;
            }   
        }
    }
    }
.active-content{
    display: block;
}
.active-cardContainer{
    display: block;
}

    
.cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 20px 0px;
// display: none;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
        a {
            color: #000;
            text-decoration: none;

        }


        .textBox {
            display: flex;

            justify-content: space-between;
            align-items: center;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .first {
                margin: 10px 0px;
                .simple-only{
                    background: #FF8C38;
                    color: #fff;
                    &:hover {
                        background-color: #FF8C38;
                        color: #fff;
                        padding: 12px 43px;
                    }
                }
                .luxury-only{
                    background: #161616;
                    color: #fff;
                    &:hover {
                        background-color: #161616;
                        color: #fff;
                        padding: 12px 43px;
                    }
                }
                .ruggedd-only{
                    background: #115E59;
                    color: #fff;
                    &:hover {
                        background-color: #115E59;
                        color: #fff;
                        padding: 12px 43px;
                    }
                }
                button {
                    margin: 10px 0px;
transition: 3s all ease-in-out;
                    padding: 10px 40px;
                    font-size: 18px;
                    background: #FFEAD0;
                    cursor: pointer;
                    color: #000;
                    font-weight: 800;
                    border: none;
                    border-radius: 10px;
                    transition: background-color 0.3s, color 0.3s;

                 

                    @media (max-width: 768px) {
                        padding: 8px 30px;
                        font-size: 16px;
                    }

                    @media (max-width: 480px) {
                        padding: 6px 20px;
                        font-size: 14px;
                    }
                }

            }

            .day {
                margin: 0px;
                position: relative;
                top: -30px;
                @media (max-width: 768px) {
                    top: 0;
                }

                @media (max-width: 480px) {
                    top: 0;
                }
                h3,
                p {
                    color: #000;

                }
            }
        }
    }
}
}

// Single Van page
#single {
    padding: 70px 80px;

    @media (max-width: 768px) {
        padding: 50px 40px;
    }

    @media (max-width: 480px) {
        padding: 30px 20px;
    }

    .back {
        margin: 10px 0px;

        .arrow {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 5px;

            img {
                width: 1%;
            }
        }

        .card {
            margin: 20px 0px;

            h2 {
                margin: 10px 0px;
                font-size: 30px;
                font-weight: 800;

                @media (max-width: 768px) {
                    font-size: 24px;
                }

                @media (max-width: 480px) {
                    font-size: 20px;
                }
            }

            h3 {
                font-weight: 800;
                margin: 10px 0px;

                span {
                    font-weight: 400;
                }

                @media (max-width: 768px) {
                    font-size: 18px;
                }

                @media (max-width: 480px) {
                    font-size: 16px;
                }
            }

            p {
                margin: 10px 0px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }

            img {
                width: 100%;
            }
          
           .stuff{
           
           
            .simplee-only{
                background: #FF8C38;
                color: #fff;
                &:hover {
                    background-color: #FF8C38;
                    color: #fff;
                    padding: 12px 43px;
                }
            }
            .luxuryy-only{
                background: #161616;
                color: #fff;
                &:hover {
                    background-color: #161616;
                    color: #fff;
                    padding: 12px 43px;
                }
            }
            .rugedd-only{
                background: #115E59;
                color: #fff;
                &:hover {
                    background-color: #115E59;
                    color: #fff;
                    padding: 12px 43px;
                }
            }
            button {
                margin: 10px 0px;
                padding: 10px 40px;
                font-size: 18px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
                transition: background-color 0.3s, color 0.3s;

               

                @media (max-width: 768px) {
                    padding: 8px 30px;
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }
            .rent {
                width: 100%;

                button {
                    width: 100%;
                    background: #FF8C38;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 700;
                    border: none;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: darken(#FF8C38, 10%);
                    }

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }

                    @media (max-width: 480px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}