#rugged {
    padding: 70px 80px;

    .simmple {
        margin: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .simple {
            button {
                padding: 10px 60px;
                font-size: 20px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
            }

        }

        .luxury {
            button {
                padding: 10px 60px;
                font-size: 20px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
            }
        }

        .rugged {
            button {
                padding: 10px 60px;
                font-size: 20px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
            }
        }

        .clear {
            button {
                padding: 10px 60px;
                color: #757371;
                background: none;
                font-size: 20px;
                border: none;
                text-decoration: underline;
            }
        }
    }

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px 0px;

        img {
            width: 100%;
            border-radius: 10px;
        }

        .textBox {
            display: flex;

            justify-content: space-between;

            .first {
                margin: 10px 0px;

                button {
                    margin: 10px 0px;
                    padding: 10px 60px;
                    font-size: 20px;
                    background: #FFEAD0;
                    color: #91887E;
                    border: none;
                    border-radius: 10px;
                }


            }

            .day {
                margin: 0px;
            }
        }
    }
}


#single {
    padding: 70px 80px;

    .back {
        margin: 10px 0px;

        .arrow {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 5px;

            img {
                width: 1%;
            }
        }

        .card {
            margin: 20px 0px;
h2{
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 800;
}
h3{
    font-weight: 800;
    margin: 10px 0px;
    span{
        font-weight: 400;
    }
}
p{
    margin: 10px 0px;
}
            img {
                width: 100%;
            }

            button {
                margin: 10px 0px;
                padding: 10px 60px;
                font-size: 20px;
                background: #FFEAD0;
                color: #757371;
                border: none;
                border-radius: 10px;
            }

            .rent {
                width: 100%;

                button {
                    width: 100%;
                    background: #FF8C38;
                    color: #fff;
                    font-size: 25px;
                    font-family: 700;
                    border: none;
                }
            }
        }
    }

}